# Backup files
*~
*.swp
# Build related
/target
/.classpath
# Eclipse settings
/.settings
/.project
# IDEA IDE
/.idea/
*.iml
#Vagrant
Vagrantfile
/.vagrant
#Freenet jars needed to build
freenet-ext.jar
freenet.jar