#set( $bookmarkEditorPath = $winterface-routes.getPathFor("Bookmarks") )

<div class=" 
	#if( $requestedPage == $winterface-routes.getFullPathTemplateFor("Bookmarks") )span12
	#else
		#if( $freenet.getValidAlertCount() > 0 )span8#{else}span12#end
	#end
	" id="bookmarks-container">
    <section class="nopadding">
      <div class="page-header">
        <span class="lead">$i18n.get("Global.BookmarksTitle")</span>  
		#if( $requestedPage != $winterface-routes.getFullPathTemplateFor("Bookmarks") )
			<a class="btn btn-small btn-link" href="$winterface-routes.getPathFor("Bookmarks")" id="edit-bookmarks"><i class="icon-edit"></i>$i18n.get("Global.EditAction")</a>
		#end
	  </div>

      <div class="accordion" id="bookmark-list">
      #foreach( $cat in $freenet.getBookmarkCategories() )
		#set( $categoryCount = $velocityCount )
		#set( $catPath = $cat.getCatPathEncoded() )
		<div class="accordion-group">
          <div class="accordion-heading">
          	#set( $catPathEncoded=$cat.getCatPathEncoded() )
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#bookmark-list" href="#bmcollapse$velocityCount" 
            #if( $cat.getCatPath() != "/" )
            	data-trigger="manual" data-original-title="$i18n.get("Bookmarks.editCategory")" rel="bkPopover" data-container="#bookmark-list" data-placement="left" data-html="true"
				data-content="<a href='#editCategory$velocityCount' data-toggle='modal'><i class='icon-edit'></i>$i18n.get('Global.EditAction')</a> <a href='#deleteCategory$velocityCount' data-toggle='modal'><i class='icon-trash'></i>$i18n.get('Global.DeleteAction')</a>
				<br>#if( $velocityCount > 2 )<a href='$bookmarkEditorPath/?action=up&bookmark=$catPath'><i class='icon-arrow-up'></i>$i18n.get('Global.UpAction')</a> #end#if( $velocityCount != 1 && $velocityCount != $freenet.getBookmarkCategoriesCount() )<a href='$bookmarkEditorPath/?action=down&bookmark=$catPath'<i class='icon-arrow-down'></i>$i18n.get('Global.DownAction')</a>#end"
            #end
             >$cat.getVisibleName()
            </a>
          </div>
          
		  #if( $requestedPage == $winterface-routes.getFullPathTemplateFor("Bookmarks") )
			  <!-- Modal Delete Category -->
			  <!-- //FIXME Category 1 Bookmark 11 == Category 11 Bookmark 1
			  		Find a way to place something in between category and velocity count and still have them parced by velocity -->
	          <div id="deleteCategory$velocityCount" class="modal hide fade" tabindex="-1" role="dialog">
	        	<div class="modal-header">
	        		<h3>$i18n.get('Bookmarks.deleteCategory')</h3>
	        	</div>
	        	<div class="modal-body">
	        		<p>$i18n.get('Bookmarks.deleteCategory.body') "$cat.getVisibleName()" $i18n.get('Bookmarks.deleteCategory.body2')</p>
	        	</div>
	        	<div class="modal-footer">
	        		<a class="btn" data-dismiss="modal" aria-hidden="true">$i18n.get('Global.CancelAction')</a>
	        		<a href="$bookmarkEditorPath/?action=confirmdelete&bookmark=$catPath" class="btn btn-danger">$i18n.get('Global.DeleteAction')</a>
	        	</div>
	          </div>
			  
			  <!-- Modal Edit Category -->
	          <div id="editCategory$velocityCount" class="modal hide fade" tabindex="-1" role="dialog">
			  <form accept-charset="utf-8" method="post" action="?action=edit&bookmark=$catPath">
	              <fieldset>
	    			<div class="modal-header">
	    				<h3>$i18n.get('Bookmarks.editCategory')</h3>
	    			</div>
	    			<div class="modal-body">
	    				<label>$i18n.get('Bookmarks.editCategory.nameLabel'):</label><input name="name" type="text" value="$cat.getVisibleName()" style="width: 95%;" required="" autofocus="">
	    			</div>
	    			<div class="modal-footer">
	    				<a class="btn" data-dismiss="modal" aria-hidden="true">$i18n.get('Global.CancelAction')</a>
	    				<button class="btn btn-primary" type="submit">$i18n.get('Global.SaveAction')</button>
	    			</div>
	    		  </fieldset>
			  </form>
	          </div>
		#end
          
          <div id="bmcollapse$velocityCount" class="accordion-body collapse">
            <div class="accordion-inner">
              <ul>
              #foreach( $item in $freenet.getBookmarksFromCat($cat) )
                <li>
					#if( $item.getUpdatedStatus() )
						<span class="icon-info-sign"></span>
						<script>$("[id=bmcollapse$categoryCount]").collapse('show');</script>
					#end
					#set( $itemPath = $freenet.getBookmarkItemPathEncoded($cat.getCatPath(), $item) )
					<a id="bmPop$velocityCount" href="/$item.getKey()" target="_blank" data-trigger="manual" data-original-title="$i18n.get("Bookmarks.editBookmark")" rel="bkPopover" data-container="#bookmark-list" data-placement="left" data-html="true"
					data-content="<a href='#editBookmarkItem$categoryCount$velocityCount' data-toggle='modal'><i class='icon-edit'></i>$i18n.get('Global.EditAction')</a> <a href='#deleteBookmarkItem$categoryCount$velocityCount' data-toggle='modal'><i class='icon-trash'></i>$i18n.get('Global.DeleteAction')</a>
					<br>#if( $velocityCount != 1 )<a href='$bookmarkEditorPath/?action=up&bookmark=$itemPath'><i class='icon-arrow-up'></i>$i18n.get('Global.UpAction')</a> #end#if( $velocityCount != $freenet.getBookmarksFromCatCount($cat) )<a href='$bookmarkEditorPath/?action=down&bookmark=$itemPath'<i class='icon-arrow-down'></i>$i18n.get('Global.DownAction')</a>#end"
					>$item.getVisibleName()</a> $item.getShortDescription()
				</li>
				
				#if( $requestedPage == $winterface-routes.getFullPathTemplateFor("Bookmarks") )
    			  <!-- Modal Delete BookmarkItem -->
                  <div id="deleteBookmarkItem$categoryCount$velocityCount" class="modal hide fade" tabindex="-1" role="dialog">
                	<div class="modal-header">
                		<h3>$i18n.get('Bookmarks.deleteBookmark')</h3>
                	</div>
                	<div class="modal-body">
                		<p>$i18n.get('Bookmarks.deleteBookmark.body') "$item.getVisibleName()"?</p>
                	</div>
                	<div class="modal-footer">
                		<a class="btn" data-dismiss="modal" aria-hidden="true">$i18n.get('Global.CancelAction')</a>
                		<a href="$bookmarkEditorPath/?action=confirmdelete&bookmark=$itemPath" class="btn btn-danger">$i18n.get('Global.DeleteAction')</a>
                	</div>
                  </div>
    			  
    			  <!-- Modal Edit BookmarkItem -->
                  <div id="editBookmarkItem$categoryCount$velocityCount" class="modal hide fade" tabindex="-1" role="dialog">
    			  <form accept-charset="utf-8" method="post" action="?action=edit&bookmark=$itemPath">
                      <fieldset>
            			<div class="modal-header">
            				<h3>$i18n.get('Bookmarks.editBookmark')</h3>
            			</div>
            			<div class="modal-body">
            				<label>$i18n.get('Bookmarks.editBookmark.nameLabel'):</label><input name="name" type="text" value="$item.getVisibleName()" style="width: 95%;" required="" autofocus="">
            				<label>$i18n.get('Bookmarks.editBookmark.keyLabel'):</label><input name="key" type="text" value="$item.getKey()" style="width: 95%;" required="">        			
                            $i18n.get('Bookmarks.editBookmark.descBLabel')<br><textarea name="descB" rows="3" style="width: 95%;">$item.getDescription()</textarea>        			
                            $i18n.get('Bookmarks.editBookmark.explainLabel')<br><textarea name="explain" rows="3" style="width: 95%;">$item.getShortDescription()</textarea>
    						$i18n.get('Bookmarks.editBookmark.hasAnActivelinkLabel') <input type="checkbox" name="hasAnActivelink" #if( $item.hasAnActivelink() )checked#end>
    					</div>
            			<div class="modal-footer">
            				<a class="btn" data-dismiss="modal" aria-hidden="true">$i18n.get('Global.CancelAction')</a>
            				<button class="btn btn-primary" type="submit">$i18n.get('Global.SaveAction')</button>
            			</div>
            		  </fieldset>
    			  </form>
                  </div>
				#end
              #end  
              
				#if( $requestedPage == $winterface-routes.getFullPathTemplateFor("Bookmarks") )
				  	<li>
				  		<a href="#addBookmarkItem$categoryCount" data-toggle="modal">$i18n.get('Bookmarks.addBookmarkInCategory')</a>
					</li>
				  	
					  <!-- Modal Add BookmarkItem -->
					  <div id="addBookmarkItem$categoryCount" class="modal hide fade" tabindex="-1" role="dialog">
					  <form accept-charset="utf-8" method="post" action="?action=addItem&bookmark=$catPath">
					      <fieldset>
							<div class="modal-header">
								<h3>$i18n.get('Bookmarks.addBookmark')</h3>
							</div>
							<div class="modal-body">
								<label>$i18n.get('Bookmarks.editBookmark.nameLabel'):</label><input name="name" type="text" placeholder="$i18n.get('Bookmarks.addBookmark.nameHolder')" style="width: 95%;" required="" autofocus="">
								<label>$i18n.get('Bookmarks.editBookmark.keyLabel'):</label><input name="key" type="text" placeholder="$i18n.get('Bookmarks.addBookmark.keyHolder')" style="width: 95%;" required="">        			
					            $i18n.get('Bookmarks.editBookmark.descBLabel')<br><textarea name="descB" rows="3" placeholder="$i18n.get('Bookmarks.addBookmark.descBHolder')" style="width: 95%;"></textarea>        			
					            $i18n.get('Bookmarks.editBookmark.explainLabel')<br><textarea name="explain" rows="3" placeholder="$i18n.get('Bookmarks.addBookmark.explainHolder')" style="width: 95%;"></textarea>
								$i18n.get('Bookmarks.editBookmark.hasAnActivelinkLabel') <input type="checkbox" name="hasAnActivelink">
							</div>
							<div class="modal-footer">
								<a class="btn" data-dismiss="modal" aria-hidden="true">$i18n.get('Global.CancelAction')</a>
								<button class="btn btn-primary" type="submit">$i18n.get('Global.SaveAction')</button>
							</div>
						  </fieldset>
					  </form>
					  </div>
				  #end
				  
              </ul>
            </div>
		  </div>
        </div>
	  #end
	  
	  #if( $requestedPage == $winterface-routes.getFullPathTemplateFor("Bookmarks") )
		  <br><p><a class="btn" href="#addCategory" data-toggle="modal">Add a category</a></p>
		  <!-- Modal Add Category -->
	      <div id="addCategory" class="modal hide fade" tabindex="-1" role="dialog">
		  <form accept-charset="utf-8" method="post" action="?action=addCat&bookmark=/">
	          <fieldset>
	    			<div class="modal-header">
	    				<h3>$i18n.get('Bookmarks.addCategory')</h3>
	    			</div>
	    			<div class="modal-body">
	    				<label>$i18n.get('Bookmarks.addCategory.nameLabel'):</label><input name="name" type="text" placeholder="Category name" style="width: 95%;" required="" autofocus="">
	    			</div>
				<div class="modal-footer">
					<a class="btn" data-dismiss="modal" aria-hidden="true">$i18n.get('Global.CancelAction')</a>
					<button class="btn btn-primary" type="submit">$i18n.get('Global.SaveAction')</button>
				</div>
			  </fieldset>
		  </form>
	      </div>
	      
	      <p><form action="" method="post" accept-charset="utf-8">
	        <input class="btn" name="AddDefaultBookmarks" value="$i18n.get('Bookmarks.reAddDefaultBookmarks')" type="submit">
		  </form></p>
		  
		  
		  <script>  
		  	$("[id^=bmcollapse]").collapse('show');
	        $('a[rel=bkPopover]').popover().on("mouseenter", function () {
	        	var _this = this;
	        	$(this).popover("show");
	        	$(".popover").on("mouseleave", function () {
	            	$(_this).popover('hide');
	        	});
	        }).on("mouseleave", function () {
	        	var _this = this;
	        	setTimeout(function () {
	            	if (!$(".popover:hover").length) {
	                	$(_this).popover("hide")
	            	}
	        	}, 100);
	        });
		  </script>
	  #end
	  
	  </div>
    </section>
</div>