##
## Expected data
##
##TODO: Chance _ to . on var names

## $freenet.NotificationsQuantity expects the quantity of notifications that the user must read
#set( $freenet_NotificationsQuantity = 2 )

## $freenet.SecurityLevelsConnection expects: "low" or "normal" or "high" or "maximum"
#set( $freenet_SecurityLevelsConnection = "low" )

## $freenet.SecurityLevelsDataStorage expects: "none" or "low" or "high" or "maximum"
#set( $freenet_SecurityLevelsDataStorage = "none" )

## $freenet.FreenetVersion expects something like: Freenet 0.7.5 Build #1444
## $freenet.ExtVersion expects something like: Freenet-ext Build #29 rv29

## $freenet.Notifications expects a list of notifications where:
## $freenet.Notifications.title = title
## $freenet.Notifications.message = message
## $freenet.Notifications.key = key that will be used on the url to read or remove the notification

<div class="row">

  <div class="span4">
    <section class="nopadding">
      <div class="page-header clearfix">
        <span class="lead">$i18n.get("Global.NotificationsTitle")</span>
      </div>
      
      ##foreach (notification in $freenet.Notifications)
			
	  #foreach( $alert in $freenet.getAlerts() )
		#if( $alert.isValid() )
    		<div class="alert $freenet.alertClass($alert) alert-block">
    			<button type="button" class="close" data-dismiss="alert">&times;</button>
    			<strong>$alert.getTitle()</strong><br>
    			$alert.getShortText()<br>
    			<a href="$winterface-routes.getPathFor("Alerts")" class="btn act lowercase">$i18n.get("Global.ViewAction")</a>
                <a id="alertHide$velocityCount" class="btn act act-danger lowercase" data-dismiss="alert">$i18n.get("Global.RemoveAction")</a>
    		</div>
			<script>
				$("#alertHide$velocityCount").click( function() { 
					$.post( "$winterface-routes.getPathFor("Alerts")", {"dismissAlert" : "$alert.anchor()"} );
					$("#notifications-quantity").text( Number($("#notifications-quantity").text()) - 1 );
					if ($("#notifications-quantity").text() == 0 ) {
						$("#notifications-quantity").removeClass("label-info");
					}
				});
			</script>
		#end
      #end

      ##endfor

    </section>
  </div>


  <div class="#if($freenet_NotificationsQuantity)span8#{else}span12#end" id="bookmarks-container">
    <section class="nopadding">
      <div class="page-header">
        <a class="btn btn-small btn-link pull-right" id="edit-bookmarks">$i18n.get("Global.EditAction")</a>
        <span class="lead">$i18n.get("Global.BookmarksTitle")</span>
      </div>

      ##TODO: Create bookmarks loop

      <div class="accordion" id="bookmark-list">
      #foreach( $cat in $freenet.getBookmarkCategories() )
		<div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#bookmark-list" href="#collapse$velocityCount">
              $cat.getVisibleName()
            </a>
          </div>
          <div id="collapse$velocityCount" class="accordion-body collapse">
            <div class="accordion-inner">
              <ul>
              #foreach ( $item in $freenet.getBookmarksFromCat($cat) )
                <li>
					##if( $item.getUpdatedStatus() == true )
					##	<span class="icon-info-sign"></span>
					##end
					<a title="$item.getDescription()" data-placement="right" href="/$item.getKey()" data-toggle="tooltip">$item.getVisibleName()</a> $item.getShortDescription()
				</li>
              #end  
              </ul>
            </div>
		  </div>
        </div>
	  #end	
	  </div>
    </section>
  </div>
</div>
      
      <br>
      <div class="row">
        <div class="span8">
          <section class="nopadding">
            <div class="page-header clearfix">
              <span class="lead">$i18n.get("Dashboard.TasksTitle")</span>
            </div>
            <div class="row">
              <div class="span4">
                <h5>$i18n.get("Dashboard.TasksTalkTitle")</h5>
                <ul>
                  <li><strong>Sone</strong>  <small class="muted">microblogging platform</small> <a href="#installAppModal" class="btn btn-link btn-mini"  data-toggle="modal">Learn more</a></li>
                  <li><strong>FMS</strong>  <small class="muted">forum</small> <a href="#installAppModalExisting" class="btn btn-link btn-mini" data-toggle="modal">Learn more</a></li>
                  <li><strong>FLIC</strong>  <small class="muted">real-time chat</small> <a href="#" class="btn btn-link btn-mini">Learn more</a></li>
                  <li><strong>Freemail</strong>  <small class="muted">anonymous email</small> <a href="#" class="btn btn-link btn-mini">Learn more</a></li>
                </ul>
              </div>
              <div class="span4">
                <h5>$i18n.get("Dashboard.TasksDiscoverTitle")</h5>
                <ul>
                  <li><a href="/search?menu=search">Search</a> <small class="muted">dig in freenet</small></li>
                  <li><a href="#visitFreesite" data-toggle="modal">Visit a freesite</a> <small class="muted">(if you already have the key)</small></li>
                </ul>
                <h5>$i18n.get("Dashboard.TasksLearnTitle")</h5>
                <ul>
                  <li><a href="/USK@t5zaONbYd5DvGNNSokVnDCdrIEytn9U5SSD~pYF0RTE,guWyS9aCMcywU5PFBrKsMiXs7LzwKfQlGSRi17fpffc,AQACAAE/fsng/58/">Social Guide</a> <small class="muted">social apps how-to</small></li>
                  <li><a href="#">Wiki</a> <small class="muted">freenet wiki site</small></li>
                </ul>
              </div>
            </div>
          </section>
        </div>
        <div class="span4">
          <section class="nopadding">
            <div class="page-header clearfix">
              <span class="lead">$i18n.get("Global.FreenetStatusTitle")</span>
            </div>
            <strong>$i18n.get("Status.ConnectionsQuantityTitle")</strong>
            <a href="#" class="btn btn-link btn-small">$i18n.get("Global.MoreDetailsAction")</a>
            <div class="progress">
              #if ($freenet.Connections.Maximum > 0)
              	#set($width = 100 * $freenet.Connections.Current / $freenet.Connections.Maximum)
              	#if ($width < 25)
              	  #set($color = "warning")
              	#else
              	  #set($color = "success")
              	#end
                <div class="bar bar-${color}" style="width: ${width}%;">$freenet.Connections.Current/$freenet.Connections.Maximum</div>
              #else
                <div class="bar bar-warning" style="width: 100%">0/0</div>
              #end
            </div>
            <strong>$i18n.get("Status.SecurityLevelsTitle")</strong> 
            <a href="/settings/seclevels" class="btn btn-link btn-small">$i18n.get("Global.EditAction")</a>
            <br>
            <div class="row">
              <div class="span2">
                <small class="text-small uppercase">$i18n.get("Status.SecurityLevelsConnectionTitle")</small><br>
                #if( $freenet_SecurityLevelsConnection == "low" ) 
                <span class="text-warning uppercase"><i class="icon-unlock"></i> $i18n.get("Status.SecurityLevelsConnectionLow") </span>
                #elseif( $freenet_SecurityLevelsConnection == "normal" )
                <span class="text-info uppercase"><i class="icon-unlock-alt"></i> $i18n.get("Status.SecurityLevelsConnectionNormal") </span>
                #elseif( $freenet_SecurityLevelsConnection == "high" )
                <span class="text-success uppercase"><i class="icon-lock"></i> $i18n.get("Status.SecurityLevelsConnectionHigh") </span>
                #elseif( $freenet_SecurityLevelsConnection == "maximum" )
                <span class="strong uppercase"><i class="icon-shield"></i> $i18n.get("Status.SecurityLevelsConnectionMaximum") </span>
                #end
              </div>
              <div class="span2">
                <small class="text-small uppercase">$i18n.get("Status.SecurityLevelsDataStorageTitle")</small><br>
                #if( $freenet_SecurityLevelsDataStorage == "none" ) 
                <span class="text-warning uppercase"><i class="icon-unlock"></i> $i18n.get("Status.SecurityLevelsDataStorageNone") </span>
                #elseif( $freenet_SecurityLevelsDataStorage == "low" )
                <span class="text-info uppercase"><i class="icon-unlock-alt"></i> $i18n.get("Status.SecurityLevelsDataStorageLow") </span>
                #elseif( $freenet_SecurityLevelsDataStorage == "high" )
                <span class="text-success uppercase"><i class="icon-lock"></i> $i18n.get("Status.SecurityLevelsDataStorageHigh") </span>
                #elseif( $freenet_SecurityLevelsDataStorage == "maximum" )
                <span class="strong uppercase"><i class="icon-shield"></i> $i18n.get("Status.SecurityLevelsDataStorageMaximum") </span>
                #end
              </div>
            </div>
            <br>
            <strong>$i18n.get("Global.GeneralTitle")</strong>  <br>
            <small>$i18n.get("Global.LanguageTitle"): <a href="#">$i18n.get("Global.LanguageEN")</a></small>  <br>
            <small>$i18n.get("Global.FreenetVersionTitle"): <span class="muted">$freenet.FreenetVersion</span> </small>  <br>
            <small>$i18n.get("Global.ExtVersionTitle"): <span class="muted">$freenet.ExtVersion</span></small>  <br>
            <br>
            <strong>$i18n.get("Global.NodeControl")</strong>  <br>
            <a href="#" class="btn btn-small "><i class="icon-repeat"></i> $i18n.get("Global.RestartFreenet")</a>
            <a href="#" class="btn btn-small "><i class="icon-off"></i> $i18n.get("Global.ShutdownFreenet")</a> <br>
            <br>
            <strong>$i18n.get("Global.WinterfaceControl")</strong>  <br>
			<form id="reloadPluginForm" accept-charset="utf-8" method="post" action="$winterface-routes.getPathFor("Plugins")" style="margin:0px;">
    			<input type="hidden" value="winterface-reload" name="reload"></input>
    			<button type="submit" class="btn btn-small "><i class="icon-repeat"></i> $i18n.get("Global.ReloadWinterface")</button>
			</form>
          </section>
        </div>
      </div>