<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Freenet</title>
	<link href="/static/css/bootstrap.css" media="all" rel="stylesheet" type="text/css" />
	<link href="/static/css/font-awesome.css" media="all" rel="stylesheet" type="text/css" />
	<script src="/static/js/bootstrap.js" type="text/javascript"></script>
</head>
<body>
	##parse ($navbar)
	<main class="container">
		#parse ($requestedPage)
	</main>
</body>
</html>