#if( $request.getParameter('reload') == "winterface-reload" )
Winterface reloading in 5 seconds...
<script language="JavaScript" type="text/javascript">
$(document).ready(function () {
    window.setTimeout(function () {
        location.href = "/";
    }, 5000)
});
</script>
#else
Winterface plugin is loaded.
#end